@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; 
}
header{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #359381;
    pointer-events:none ;
    margin-right: 100px;

}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover, .navigation a#ac{
    background: #359381;
    color: white;

}


.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
#text{
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    height:100vh ;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    top: 0;
    background: #003329;
    padding: 100px;
}


.mar{
    margin: 50px;
}

.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}
.sec p,.home-content>p ,.timeline-con>p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}
.home-img>img{
    border-radius: 50%;
    position: relative;
    width: 200px;
    top:3.5em

}
#abt{
    margin-bottom: 3rem;
}

.home {
    display: flex;
    align-items: center;
    height: auto;
    
}

.home-content {
    flex: 1;
    margin-right: 30px;
}
.home-img{
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-img img {
    max-width: 100%; 
    height: 100%; 
    vertical-align: middle;
}

.education{
    
    padding: 100px 15px;
}
.education h2{
    margin-bottom: 5rem;
}
.timeline{
    max-width:1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline::before{
    content: "";
    position: absolute;
    width: 5px;
    height: calc(100% - 20px);
    background-color: white;
    left: calc(50% - 2.5px);
    top:10px
}
.item{
    margin-bottom: 40px;
    width: 98%;
    position: relative;
}
.item:last-child{
    margin-bottom: 0;
}
.item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.dot{
    height: 21px;
    width: 21px;
    background-color: white;
    position: absolute;
    left: calc(50% - 1.5px);
    border-radius: 50%;
    top: calc(50%-10.5px);
}
.date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-con{
    padding: 30px 50px;
    border-radius: 2rem ;
    border: 3px solid white;
    
    
}
.timeline-con h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-con p{
    line-height: 22px;
}
.project>.pro{
        display: flex;
        flex-direction: column;
        
        position: relative;
}
.project>.col{
    position: relative;
    left: 0;
    margin: 0%;
}
.hobbies>h2,.contact>h2{
    margin-bottom: 50px;
}
.all{
    display: flex;
    justify-content: center;
    
  }
.inn{
    margin: 50px;
    color: white;
}



.home,.education,.project,.hobbies,.footer{
    margin-bottom: 60px;
}



.timeline , .col{
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view() ;
    animation-range: entry-crossing;

}
@keyframes fade-in{
    
    to{scale: 1; opacity: 1;}
}
